In [1]:
# load basics library 

import pandas as pd, numpy as np
%matplotlib inline
%pylab inline
import seaborn  as sns 
import matplotlib.pyplot as plt
import calendar

Populating the interactive namespace from numpy and matplotlib

In [2]:
# load CSVs

df_train = pd.read_csv('~/Kaggle.com_mini_project/bike_sharing/data/train.csv')
df_test = pd.read_csv('~/Kaggle.com_mini_project/bike_sharing/data/test.csv')
sampleSubmission = pd.read_csv('~/Kaggle.com_mini_project/bike_sharing/data/samplesubmit.csv')

In [3]:
# help function



def basic_feature_extract(df):
    df_= df.copy()
    df_["date"] = df_.datetime.apply(lambda x : x.split(" ")[0])
    df_["time"] = df_.datetime.apply(lambda x :x.split(" ")[1])
    df_["hour"] = df_.datetime.apply(lambda x : x.split(" ")[1].split(":")[0])
    df_["year"] = df_.datetime.apply(lambda x : x.split(" ")[0].split("-")[0])
    df_["month"] = df_.datetime.apply(lambda x : x.split(" ")[0].split("-")[1])
    df_["weekday"] = df_.date.apply(lambda x :pd.to_datetime(x.split(" ")[0]).weekday())
    return df_

In [4]:
df_train_ = basic_feature_extract(df_train)

In [6]:
df_train_.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,time,hour,year,month,weekday
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01,00:00:00,00,2011,01,5
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01,01:00:00,01,2011,01,5